@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

body {
    margin: 0px;
    padding: 0px;
}

/* header styles */
/* navbar style */
.navbar-container {
    background-color: black;
}

nav {
    margin: -20px 0px;
}

nav>ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

nav li {
    list-style: none;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    padding: 10px 20px;
    color: whitesmoke;


}

nav a {
    text-decoration: none;
}

nav li>ul {

    display: none;
    
}

nav li:hover>ul {
    display: block;
    position: absolute;

}

nav li:hover {
    background-color: #E55473;
    border-radius: 5px;
    text-align: center;
}

/* banner section styles in header */
.header-banner {
    display: flex;
    background: rgba(229, 84, 115, 0.10);
    padding: 65px 180px 0px 180px;
}

.banner-title {
    color: #272727;
    font-size: 60px;
    font-weight: 800;
    font-family: Lato;
    margin-bottom: 30px;
}

.description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-weight: 400;
    padding: 0px 35px 5px 0px;
}

.primary-btn {
    color: #FFF;
    font-size: 15px;
    font-weight: 400;
    border-radius: 8px;
    background: #E55473;
    padding: 12px 25px;
    border: none;
}

.banner-img img {
    width: 400px;
}

.banner-info {
    padding-bottom: 100px;
}

/* main section styles */
/* featured section style */
.featured-container {
    margin-top: 100px;
    padding: 0px 150px 0px 175px;
}

.featured-img-container {
    display: flex;
    gap: 17px;
    justify-content: center;
    margin-top: 35px;
}

.featured-info {
    text-align: center;
}

.featured-title {
    color: #272727;
    font-family: Lato;
    font-size: 27px;
    font-style: normal;
    font-weight: 800;
}

.rectangle-box {
    border-radius: 300px 300px 0px 0px;
    width: 325px;
    height: 377px;
    margin-bottom: 0px;
}

.rectangle-img img {
    width: 220px;
    padding: 73px 0px 50px 50px;

}

.rectangle-img-2 img {
    width: 250px;
    padding: 73px 0px 50px 50px;

}

.rectangle-img-3 img {
    width: 220px;
    padding: 47px 0px 50px 50px;
}

.img-description {
    color: #272727;
    text-align: center;
    font-size: 17px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    margin-top: -40px;
}

.img-description-2nd {
    color: #272727;
    text-align: center;
    font-size: 17px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    margin-top: 10px;
}

.box-color-1 {
    background: rgba(167, 33, 98, 0.15);
}

.box-color-2 {
    background: rgba(5, 151, 160, 0.15);
}

.box-color-3 {
    background: rgba(71, 125, 17, 0.15);
}

/* service box styles */
.service {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    margin: 130px 0px 100px 0px;
    height: 200px;
    padding: 0px 70px 0px 70px;
    
}

.icon p {
    font-size: 15px;
    font-weight: 600;
    color: rgba(39, 39, 39, 0.80);
}

.icon img {
    padding-left: 70px;
    width: 70px;
}
/* hot-deal section styes */
.hot-deal{
    border-radius: 8px;
background: rgba(229, 84, 115, 0.05);
justify-content: center;
align-items: center;
padding: 100px 40px;
height: 270px;
}

.hot-deal-img img{
    width: 210px;
    padding-left: 50px;
    
}
.hot-deal-info{
    text-align: center;
    padding-top: 140px;
}
.off-style{
    color: #E55473;
}

.instagram-img-container img{
    width: 230px;
    margin-right: 12px;
}

.deals {
    background-image: url("images/Rectangle\ 9.png");
     background-repeat: no-repeat;
     background-size: cover;
     margin-right: 30px;
     margin: 70px 200px 0px 170px ;
    padding: 70px 40px 90px 40px; 
    
}

.email-input{
    border-radius: 8px;
    border: none;
background: #FFF;
width: 430px;
height: 40px;
padding-left: 20px;
margin-right: 10px;
}
.subscribe{
    padding-left: 160px;
}

.featured-info p{
    padding-bottom: 20px;
}
.deals-container{
    margin-bottom: 80px;
}
/* footer styles */
.footer-flower{
    background: #111010;
    justify-content: center;
    align-items: center;
}
.footer-title{
color: white;
font-size: 30px;
font-weight: 800;
text-align: center;
}
.footer-description{
    color: rgba(255, 255, 255, 0.90);
font-size: 14px;
font-weight: 400;
}
